/* Custom prism theme based on Tonsky's Alabaster (https://tonsky.me/blog/syntax-highlighting/),
 * but ignoring the comment highlight rule. Most code my posts have been simplified, comments are
 * there for extra guidance, hence why they're dimmed. NOTE: Some styles will only work in this
 * site because I added custom Prism rules to match my desired tokens. See eleventy.config.js for
 * more details. */

:root {
  --color-code-bg: light-dark(#f5f5f5, #202020);
  --color-code-fg: var(--color-fg);
  --color-code-comments: light-dark(#737373, #a3a3a3);
  --color-code-punctuation: light-dark(#a3a3a3, #737373);
  --color-code-strings: light-dark(#15803d, #86efac);
  --color-code-constants: light-dark(#b45309, #fcd34d);
  --color-code-definitions: light-dark(#1d4ed8, #93c5fd);
}

/* General */

pre[class*='language-'],
code[class*='language-'] {
  color: var(--color-fg);
  font-family: var(--font-mono);
  font-size: var(--text-sm);
  text-shadow: none;
  text-align: left;
  direction: ltr;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*='language-']::selection,
code[class*='language-']::selection,
pre[class*='language-']::mozselection,
code[class*='language-']::mozselection {
  text-shadow: none;
  /* background: #9fc6e9; */ /* Doesn't work? */
}

@media print {
  pre[class*='language-'],
  code[class*='language-'] {
    text-shadow: none;
  }
}

pre[class*='language-'] {
  padding: 1em;
  overflow: auto;
  background: light-dark(#f5f5f5, #202020);
}

/* I dont' use inlined code blocks with language, hence no styles for it. */

/* Tokens. I'm only supporting languages I use for my blog posts ATM. */

.token.comment {
  color: var(--color-code-comments);
}

.token.punctuation {
  color: var(--color-code-punctuation);
}

.token.string {
  color: var(--color-code-strings);
}

.token.char, .token.number, .token.boolean, .token.symbol {
  color: var(--color-code-constants);
}

.language-python .token.function, .language-python .token.class-name,
.language-javascript .token.definitions,
.language-clojure .token.definitions,
.language-zig .token.definitions,
.language-go .token.definitions
{
  color: var(--color-code-definitions);
  font-weight: bold;
}
