<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="{{ site.authorName }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="google-site-verification" content="U0S_vIxJy6lyhv_P_fWMaOk5HGZbuC4eVMrrjTINraE" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | url  }}">
    <link rel="stylesheet" href="{{ '/css/prism-theme.css' | url }}">
    <link rel="icon" href="{{ site.favicon }}" type="image/svg+xml">
  </head>
  <body>
    <header>
      <h1><a href="/">rmrt1n</a></h1>
      <nav>
        <a href="/">posts</a>
        <a href="/feed.xml">rss</a>
        <a href="/about">about</a>
      </nav>
    </header>
    <main>
      <div>
      {{ content | safe }}
      <br>
      </div>
    </main>
    <footer>
      <p>
        <small>Copyright&copy; {% year %} • {{ site.author }}</small>
        <small>-</small>
        <small>Built using the awesome <a href="https://www.11ty.dev/">11ty</a></small>
      </p>
    </footer>
  </body>
</html>

