body {
  margin: 2rem auto;
  max-width: 600px;
  line-height: 1.6;
  font-size: 16px;
  color: #333;
  padding: 0 10px;
  font-family: 'Merriweather', serif;
}

h1, h2, h3 {
  line-height: 1.2;
}

li p {
  margin: 0;
}

@media (min-width: 768px) {
  footer {
    position: fixed;
    right: 2rem;
    top: 2rem;
    text-align: right;
  }

  footer li {
    list-style-type: none;
  }
}
