@import 'modern-normalize.css';
@import 'reset.css';
@import 'github.css' screen;
/* override with dark theme if on dark mode */
@import 'github-dark.css' screen and (prefers-color-scheme: dark);

:root {
  --font-serif: Cambria, Charter, 'Bitstream Charter', 'Sitka Text', serif;
  --font-sans: Arial, system-ui, sans-serif;
  --font-mono: 'IBM Plex Mono', ui-monospace, monospace;

  --color-bg: #fafafa;
  --color-fg: #262626;
  --color-links: blue;
  --color-code: #e5e5e5;

  @media (prefers-color-scheme: dark) {
    --color-bg: #0a0a0a;
    --color-fg: #e5e5e5;
    --color-links: skyblue;
    --color-code:  #262626;
  }
}

:target, p:has(:target) {
  background-color: #fef08acc; /* yellow-200/80 */

  @media (prefers-color-scheme: dark) {
    background-color: #404040cc; /* neutral-700/80 */
  }
}

html {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font-sans);
  font-size: 14px;
}

body {
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5;
}

header {
  max-width: 42rem;
  margin-inline: auto;

  > nav {
    display: flex;
    gap: 0 1.25rem;
    flex-wrap: wrap;
    padding-top: .25rem;
  }

  > a:first-child {
    display: block;
    width: 100%;
    padding: .25rem .5rem;
    background-color: var(--color-links);
    color: var(--color-bg);
    font-weight: bold;
    text-decoration: none;
  }
}

footer {
  max-width: 42rem;
  margin-inline: auto;
  border-top: 1px solid var(--color-fg);
  padding-top: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 .25rem;
  flex-wrap: wrap;
}

main {
  max-width: 42rem;
  margin-inline: auto;
  padding: 2rem 0;

  > * + * { margin-top: 1rem; }
}

/* /articles and /snippets */
main > .archive {
  > * + * { margin-top: .25rem; }

  > li {
    list-style-type: none;
    display: flex;
    gap: .75rem;
    text-wrap: pretty;

    > time {
      flex-shrink: 0;
    }
  }
}

/* base.liquid */
main > article {
  position: relative; /* for toc */

  > * + * { margin-top: 1.5rem; }

  > header {
    > * + * { margin-top: .25rem; }

    > p {
      font-family: var(--font-serif);
    }
  }

  > #content {
    > * + * { margin-top: 1rem; }

    ol, ul {
      /* use margin instead of list-style-position: inside so that lists that span */
      /* multiple lines are aligned from the list marker */
      margin-left: 1rem;

      > * + * { margin-top: 0.25rem; }
    }

    .footnotes-sep {
      border: 0;
      border-top: 1px solid var(--color-fg);
      width: 45%;
      margin: 1.5rem 0;
    }

    .footnotes {
      font-size: 0.875rem;
      line-height: 1.25;

      ol > * + * { margin-top: .5rem; }
    }
  }
}

h1, h2, h3, h4 {
  font-family: var(--font-serif);
  line-height: 1.25;
  font-weight: bold;
}

h1 {
  font-size: 1.375rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

small {
  font-size: 0.875rem;
  line-height: 1.25;
}

a {
  color: var(--color-links);

  &:focus {
    color: var(--color-bg);
    background-color: var(--color-links);
  }
}

.header-anchor {
  color: inherit;
  text-decoration: none;

  &::before {
    content: '#';
    font-size: 1em;
    display: inline-block;
    width: .75em;
    margin-left: -.75em;
    text-decoration: none;
    visibility: hidden;
  }

  &:hover {
    text-decoration: underline;

    &::before {
      visibility: visible;
    }
  }
}

pre {
  border: 1px solid var(--color-fg);
  overflow: clip;
  font-size: 0.875rem;
}

code {
  font-family: var(--font-mono) !important;
}

p code, li code {
  background-color: var(--color-code);
  padding: 1.5px;
  font-size: 0.875rem;
  line-height: 1.25;
}

small code {
  background-color: var(--color-code);
  padding: 1.5px;
  font-size: 0.75rem;
  line-height: 1;
}

img {
  border: 1px solid var(--color-fg);
}

table {
  min-width: 100%;
  border: 1px solid var(--color-fg);
  border-bottom: 0;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;

  th,
  td {
    padding: 0.25rem 0.5rem;
    text-align: left;
    white-space: nowrap;
  }

  thead th {
    background-color: var(--color-code);
    border-bottom: 1px solid var(--color-fg);
  }

  td {
    border-bottom: 1px solid var(--color-fg);
  }
}

.tags {
  display: flex;
  gap: 0 1rem;
  flex-wrap: wrap;

  > li {
    list-style-type: none;
    text-wrap: nowrap;
  }
}

.toc {
  > details {
    cursor: default;

    &[open] {
      summary {
        margin-bottom: .5rem;
      }
    }

    h2 {
      display: inline;
    }

    ol {
      margin-left: 0;
      padding-left: .75rem;

      ::marker {
        content: counters(list-item,'.') '. '
      }
    }
  }

  @media (min-width: 1356px) {
    position: absolute;
    width: 20rem;
    top: 0;
    right: -22rem;
    height: 100%;

    > details {
      position: sticky;
      top: 1rem;
    }
  }
}
